{% extends 'core/base.html' %}

{% block content %}
<div style="padding: 50px;">
    <div class="card" style="margin: auto; padding: 50px; max-width: 50%;background-color: rgba(255, 255, 255, 0.9);">
        <h1>Restablece tu contraseña</h1>
        <p>Introduce tu correo electrónico y te enviaremos las instrucciones para restablecer tu contraseña.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Enviar</button>
        </form>
    </div>
</div>


{% endblock %}

